<div [class.alternative]="otherTheme">
    <mat-toolbar color="primary" class="navbar navbar-expand-md">
        <mat-toolbar-row>
            <button mat-button color="accent" class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
                <span class="logo-img"></span>
                <span jhiTranslate="global.title" class="navbar-title">SampleApplication</span> <span class="navbar-version">{{version}}</span>
            </button>
            <!-- <div fxFlex fxLayout fxShow.gt-sm>
                <mat-slide-toggle mat-button color="accent" (click)="changeTheme()">
                </mat-slide-toggle>
            </div> -->
            <div fxFlex fxLayout fxShow="false" fxShow.gt-sm fxLayoutAlign="flex-end" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
                <ul fxLayout fxLayoutGap="20px" ml-auto class="navbar-nav">
                    <li fxHide.xs routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <button mat-icon-button color="accent" matTooltip="Home" class="nav-link" routerLink="/" (click)="collapseNavbar()">
                            <mat-icon>home</mat-icon>
                        </button>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <button mat-icon-button color="accent" matTooltip="Angular Material Sample page" class="nav-link" routerLink="samplematerial" (click)="collapseNavbar()">
                            <mat-icon>info</mat-icon>
                        </button>
                    </li>
                    <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <button mat-icon-button color="accent" matTooltip="Entities" [matMenuTriggerFor]="entities">
                            <mat-icon>list</mat-icon>
                        </button>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <button mat-icon-button color="accent" matTooltip="Administration" [matMenuTriggerFor]="administration">
                            <mat-icon>build</mat-icon>
                        </button>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <button mat-icon-button color="accent" matTooltip="Language" [matMenuTriggerFor]="language">
                            <mat-icon>flag</mat-icon>
                        </button>
                    </li>
                    <li class="nav-item" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <button mat-icon-button color="accent" matTooltip="Account" [matMenuTriggerFor]="account" mat-icon-button>
                            <!-- <span *ngIf="!getImageUrl()"> -->
                            <mat-icon>account_circle</mat-icon>
                            <!-- </span> -->
                            <!-- <span *ngIf="getImageUrl()">
                            <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                        </span> -->
                        </button>
                    </li>
                </ul>
            </div>
            <button fxFlex fxLayout mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm fxLayoutAlign="end start">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar-row>

    </mat-toolbar>

    <mat-menu x-position="before" #menu="matMenu">
        <div [ngSwitch]="isAuthenticated()">
            <button mat-menu-item routerLink="/" routerLinkActive="active">
                <mat-icon color="accent">home</mat-icon>
                <span jhiTranslate="global.menu.home">Home</span>
            </button>
            <button mat-menu-item routerLink="samplematerial" routerLinkActive="active">
                <mat-icon color="accent">info</mat-icon>
                <span> Angular Material Sample page </span>
            </button>
            <button *ngSwitchCase="true" mat-menu-item [matMenuTriggerFor]="entities">
                <mat-icon matTooltip="Entities" color="accent">list</mat-icon>
                <span jhiTranslate="global.menu.entities.main">
                    Entities
                </span>
            </button>
            <button *ngSwitchCase="true" mat-menu-item [matMenuTriggerFor]="administration">
                <mat-icon matTooltip="Administration" color="accent">build</mat-icon>
                <span jhiTranslate="global.menu.admin.main">
                    Administration
                </span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="language">
                <mat-icon matTooltip="Language" color="accent">account_circle</mat-icon>
                <span jhiTranslate="global.menu.language">
                    Language
                </span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="account">
                <mat-icon matTooltip="Account" color="accent">account_circle</mat-icon>
                <span jhiTranslate="global.menu.account.main">
                    Account
                </span>
            </button>
        </div>
    </mat-menu>

    <mat-menu #entities="matMenu">
        <button mat-menu-item color="accent" routerLink="product" routerLinkActive="active" (click)="collapseNavbar()">
            <fa-icon [icon]="'user'" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.product">Product</span>
        </button>
        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
    </mat-menu>

    <mat-menu #language="matMenu">
        <button *ngFor="let language of languages" mat-menu-item [jhiActiveMenu]="language" (click)="changeLanguage(language);collapseNavbar();">
            {{language | findLanguageFromKey}}
        </button>
    </mat-menu>

    <mat-menu #administration="matMenu">
        <button mat-menu-item color="accent" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
            <fa-icon [icon]="'user'" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
        </button>
        <button mat-menu-item color="accent" routerLink="admin/jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
            <fa-icon [icon]="'tachometer-alt'" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
        </button>
        <button mat-menu-item color="accent" routerLink="admin/jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
            <fa-icon [icon]="'heart'" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.admin.health">Health</span>
        </button>
        <button mat-menu-item color="accent" routerLink="admin/jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
            <fa-icon [icon]="'list'" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
        </button>
        <button mat-menu-item color="accent" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
            <fa-icon [icon]="'bell'" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.admin.audits">Audits</span>
        </button>
        <button mat-menu-item color="accent" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
            <fa-icon [icon]="'tasks'" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.admin.logs">Logs</span>
        </button>
        <button mat-menu-item color="accent" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
            <fa-icon [icon]="'book'" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.admin.apidocs">API</span>
        </button>
        <a type="button" class="buttonLink" mat-menu-item href='./h2-console' target="_tab" (click)="collapseNavbar()">
            <fa-icon [icon]="'hdd'" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.admin.database">Database</span>
        </a>
    </mat-menu>

    <mat-menu #account="matMenu" [ngSwitch]="isAuthenticated()">
        <div *ngSwitchCase="true">
            <button mat-menu-item color="accent" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon [icon]="'wrench'" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.settings">Settings</span>
            </button>
            <button mat-menu-item color="accent" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon [icon]="'clock'" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.password">Password</span>
            </button>
            <button mat-menu-item color="accent" (click)="logout()" id="logout">
                <fa-icon [icon]="'sign-out-alt'" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.logout">Sign out</span>
            </button>
        </div>
        <div *ngSwitchCase="false">
            <button mat-menu-item color="accent" (click)="login()" id="login">
                <fa-icon [icon]="'sign-in-alt'" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.login">Sign in</span>
            </button>
            <button mat-menu-item color="accent" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon [icon]="'user-plus'" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.register">Register</span>
            </button>
        </div>
    </mat-menu>
</div>
