<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-heading" jhiTranslate="sampleApplicationApp.product.home.createOrEditLabel">Create or edit a Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!product.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="product.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sampleApplicationApp.product.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="product.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sampleApplicationApp.product.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="product.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sampleApplicationApp.product.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="product.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sampleApplicationApp.product.availability" for="field_availability">Availability</label>
                    <input type="checkbox" class="form-control" name="availability" id="field_availability"
                        [(ngModel)]="product.availability" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
